.google {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-name {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}