@import url(https://fonts.googleapis.com/css?family=Oswald:400);

$color-3: #282c34;
$color-4: #1B1B21;

.logout {
  color: white;
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -15px;
  bottom: -18px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.logout-button {
    text-decoration: none;
    float: right;
    padding: 12px;
    margin-top: 8px;
    margin-right: 30px;
    color:#1B1B21;
    width: 60px;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
}

.logout-img {
    margin-top: -2px;
    img {
        width: 60px;
        border-radius: 10px;
        float: left;
        
      }
      display: inline-block;
    width: 100%;
    a:hover{
        width: 140px;
      }
      a:hover .logout{
        opacity: .9;
      }
      a {
        text-decoration: none;
      }
}




